body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: white;
    color: #111;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: white;
    border-bottom: 1px solid #111;
}

.name {
    font-weight: bold;
    font-size: 20px;
}

nav a {
    position: relative;
    margin: 0 15px;
    color: black;
    text-decoration: none;
    font-weight: 500;
}

nav a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    width: 100%;
    height: 1px;
    background-color: black;
    transition: transform 0.3s ease;
}

nav a:hover::after {
    transform: translateX(-50%) scaleX(1);
}


main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
    max-width: 900px;
    margin: auto;
}

main h1 {
    font-size: clamp(24px, 5vw, 32px);
}

main p {
    font-size: clamp(16px, 3vw, 18px);
    line-height: 1.6;
    margin-bottom: 1em;
}

footer {
    margin-top: 60px;
    padding: 40px 20px;
    text-align: center;
    border-top: 1px solid #ddd;
}

.footer-container {
    max-width: 800px;
    margin: 0 auto;
    font-size: 14px;
    color: #333;
}

.footer-container ul {
    list-style: none;
    padding: 0;
    margin: 12px 0;
}

.footer-container li {
    margin: 6px 0;
}

.footer-container a {
    color: #111;
    text-decoration: none;
    border-bottom: 1px dashed #ccc;
    transition: 0.3s;
}

.footer-container a:hover {
    color: #007bff;
    border-bottom: 1px solid #007bff;
}

footer .copyright {
    margin-top: 20px;
    font-size: 12px;
    color: grey;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}


@media (max-width: 768px) {


    .hamburger {
        display: block;
    }

    nav {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        align-items: center;
        background-color: white;
        padding: 16px 0;
        gap: 12px;
        border-top: 1px solid #ddd;
        z-index: 10;
    }

    nav.show {
        display: flex;
    }
}