body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: white;
    color: #111;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: white;
    border-bottom: 1px solid #111;
}

.name {
    font-weight: bold;
    font-size: 20px;
}

nav {
    display: flex;
    gap: 16px;
}

nav a {
    position: relative;
    margin: 0 15px;
    color: black;
    text-decoration: none;
    font-weight: 500;
}

nav a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    width: 100%;
    height: 1px;
    background-color: black;
    transition: transform 0.3s ease;
}

nav a:hover::after {
    transform: translateX(-50%) scaleX(1);
}

main {
    padding: 0px 20px;
}

.project-grid {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0px 20px;
}

.project-card {
    display: flex;
    flex-direction: row;
    text-align: flex-start;
    overflow: hidden;
    transition: transform 0.2s ease;
    background-color: #fff;
    padding: 16px;
    border: 1px solid #ddd;
     border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    
}

.project-card:hover {
    transform: translateY(-4px);
}

.project-card img {
    width: 500px;
    aspect-ratio: 16 / 11;
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
}

.project-info {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
}

.project-info h3 {
    font-size: clamp(20px, 4vw, 32px);
    margin: 0 0 10px;
}

.project-info p {
    font-size: clamp(14px, 2vw, 18px);
    color: #333;
    margin: 0 0 20px;
}

.project-info a {
    align-self: flex-end;
    text-decoration: none;
    border: 1px solid #ccc;
    padding: 8px 16px;
    font-size: clamp(14px, 1.5vw, 16px);
    color: #111;
    transition: all 0.2s ease;
}

.project-info a:hover {
    border: 1px solid #333;
}


footer {
    margin-top: 60px;
    padding: 40px 20px;
    text-align: center;
    border-top: 1px solid #ddd;
}

.footer-container {
    max-width: 800px;
    margin: 0 auto;
    font-size: 14px;
    color: #333;
}

.footer-container ul {
    list-style: none;
    padding: 0;
    margin: 12px 0;
}

.footer-container li {
    margin: 6px 0;
}

.footer-container a {
    color: #111;
    text-decoration: none;
    border-bottom: 1px dashed #ccc;
    transition: 0.3s;
}

.footer-container a:hover {
    color: #007bff;
    border-bottom: 1px solid #007bff;
}

footer .copyright {
    margin-top: 20px;
    font-size: 12px;
    color: grey;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    nav {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        align-items: center;
        background-color: white;
        padding: 16px 0;
        gap: 12px;
        border-top: 1px solid #ddd;
        z-index: 10;
    }

    nav.show {
        display: flex;
    }

    .project-card {
        flex-direction: column;
        align-items: center;
    }

    .project-card img {
        width: clamp(230px, 90%, 300px);
        height: auto;
        margin-top: 24px;
    }

    .project-info a {
        align-self: center;
    }
}